body {
  background-color: #f5ebeb;
}
table,
th,
td {
  border: 1.5px solid #444;
  border-collapse: collapse;
}
tr:hover {
  background-color: #b9b4b4;
}
.fetch-all-button {
  display: flex;
  background-color: #3eb14b;
}
.create-button {
  display: flex;
  background-color: #a39494;
}
.save-button {
  background-color: #6464b0;
  width: 70px;
}
.form-hidden {
  display: none;
}
.input {
  width: 100%;
}
form {
  display: flex;
  justify-content: center;
}
